<ng-template ngxPermissionsOnly="canAddUsers">
    <mk-box [isRemovable]="false" [isCollapsed]="false">
        <div class="container pull-left">
            <!-- <div class="row">
            <div class="col-sm-4">    
                <button nz-button nzType="primary" (click)="showModalAgregarUsuario()">Agregar usuario</button>                         
            </div>
        </div> -->
        </div>
    </mk-box>
</ng-template>


<div style="background: white">
    <nz-table #tableUsuarios [nzData]="usuarios" nzBordered="true" [nzLoading]="isLoading" nzSize="small" nzShowPagination="true">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of tableUsuarios.data">
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.phone }}</td>
                <td>
                    <button style="margin-right: 10px" class="btn btn-primary" nzTitle="Ver " nzPlacement="topCenter" nz-tooltip (click)="showModalDatosUsuario(data)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button style="margin-right: 10px" class="btn btn-danger" nzTitle="Eliminar" nzPlacement="topCenter" nz-tooltip (click)="showDeleteConfirm(data)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>


<nz-modal [(nzVisible)]="isVisibleDatosUsuario" [nzWidth]="850" [nzTitle]="modalTitleDatosUsuario" [nzContent]="modalContentDatosUsuario" [nzFooter]="modalFooterDatosUsuario">
    <ng-template #modalTitleDatosUsuario></ng-template>

    <ng-template #modalContentDatosUsuario>
        <div class="row">
            <div class="col-md-12">
                <h4>DATOS DEL USUARIO</h4>
            </div>

            <div class="col-md-4">
                <label>Nombre</label>
                <p for="">{{ userDataSelected.name }}</p>
            </div>

            <div class="col-md-4">
                <label>Teléfono</label>
                <p for="">{{ userDataSelected.phone }}</p>
            </div>

            <div class="col-md-4">
                <label>Edad</label>
                <p for="">{{ userDataSelected.age }}</p>
            </div>

            <div class="col-md-4">
                <br>
                <label>Email</label>
                <p for="">{{ userDataSelected.email }}</p>
            </div>

            <div class="col-md-4">
                <br>
                <label>Sexo</label>
                <p for="">{{ userDataSelected.sex }}</p>
            </div>

            <div class="col-md-4">
                <br>
                <label>Colonia</label>
                <p for="">{{ userDataSelected.colony }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <h4>DATOS DE VERIFICACIÓN</h4>
            </div>

            <div class="col-md-4">
                <label>INE (parte frontal)</label>
                <ng-container *ngIf="!this.verificadoDataSelected.ine; else withImage">
                    <p>Sin imagen</p>
                </ng-container>
                <ng-template #withImage>
                    <div>
                        <img (click)="zoomImagen('a')" src="{{ this.verificadoDataSelected.ine }}" style="width: 240px; height: 140px;" alt="">
                    </div>
                </ng-template>
            </div>

            <div class="col-md-4">
                <label>INE (parte trasera)</label>
                <ng-container *ngIf="!this.verificadoDataSelected.ine2; else withImage1">
                    <p>Sin imagen</p>
                </ng-container>
                <ng-template #withImage1>
                    <div>
                        <img (click)="zoomImagen('b')" src="{{ this.verificadoDataSelected.ine2 }}" style="width: 240px; height: 140px;" alt="">
                    </div>
                </ng-template>
            </div>

            <div class="col-md-4">
                <label>Domicilio</label>
                <ng-container *ngIf="!this.verificadoDataSelected.domicilio; else withImage2">
                    <p>Sin imagen</p>
                </ng-container>
                <ng-template #withImage2>
                    <div>
                        <img (click)="zoomImagen('c')" src="{{ this.verificadoDataSelected.domicilio }}" style="width: 240px; height: 140px;" alt="">
                    </div>
                </ng-template>
            </div>

            <div class="col-md-4">
                <label>Fachada</label>
                <ng-container *ngIf="!this.verificadoDataSelected.fachada; else withImage3">
                    <p>Sin imagen</p>
                </ng-container>
                <ng-template #withImage3>
                    <div>
                        <img (click)="zoomImagen('d')" src="{{ this.verificadoDataSelected.fachada }}" style="width: 240px; height: 140px;" alt="">
                    </div>
                </ng-template>
            </div>

            <div class="col-md-4">
                <label>Selfie</label>
                <ng-container *ngIf="!this.verificadoDataSelected.selfie; else withImage4">
                    <p>Sin imagen</p>
                </ng-container>
                <ng-template #withImage4>
                    <div>
                        <img (click)="zoomImagen('e')" src="{{ this.verificadoDataSelected.selfie }}" style="width: 240px; height: 140px;" alt="">
                    </div>
                </ng-template>
            </div>

             
        </div>
    </ng-template>

    <ng-template #modalFooterDatosUsuario>
        <button nz-button nzType="default" (click)="handleCancelDatosUsuario()">Cerrar</button>
    </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleZoomImg" [nzWidth]="950" [nzContent]="modalContentZoomImg" [nzFooter]="modalFooterZoomImg" (nzOnCancel)="handleCancelZoomImg()">
    <ng-template #modalContentZoomImg>
        <div>
            <img src="{{ this.zoom }}" style="width: 900px; height: 520px;" alt=""> 
        </div>
    </ng-template>

    <ng-template #modalFooterZoomImg>
       
    </ng-template>
</nz-modal>