<mk-box [isRemovable]="false" [isCollapsed]="false">

    <div class="container pull-left">

    </div>

</mk-box>




<div style="background: white">
    <nz-table #tableReports [nzData]="panic" nzBordered="true" [nzLoading]="isLoading" nzSize="small" nzShowPagination="true">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of tableReports.data">
                <td>{{ data.createAt | date }}</td>
                <td>{{ data.nombre }}</td>
                <td>{{ data.telefono }}</td>
                <td>
                    <button style="margin-right: 10px" nzTitle="Ver" nzPlacement="topCenter" nz-tooltip class="btn btn-success-sabinas" (click)="showModalPanic(data)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>


<nz-modal [(nzVisible)]="isVisiblePanic" [nzWidth]="850" [nzTitle]="modalTitlePanic" [nzContent]="modalContentPanic" [nzFooter]="modalFooterPanic">
    <ng-template #modalTitlePanic></ng-template>

    <ng-template #modalContentPanic>

        <div class="col-md-6">
            <h4>Nombre: {{ panicDataSelected.nombre }}</h4>
        </div>
        
        <div class="col-md-6">
            <h4>Teléfono: {{ panicDataSelected.telefono }}</h4>
        </div>

        <div class="col-md-4">
            <br>
            <label>INE (parte frontal)</label>
            <ng-container *ngIf='this.verificadoDataSelected.ine == ""; else withImage1'>
                <p>Sin imagen</p>
            </ng-container>
            <ng-template #withImage1>
                <div>
                    <img (click)="zoomImagen('a')" src="{{ this.verificadoDataSelected.ine }}" style="width: 240px; height: 140px;" alt="">
                </div>
            </ng-template>
        </div>

        <div class="col-md-4">
            <br>
            <label>INE (parte trasera)</label>
            <ng-container *ngIf='this.verificadoDataSelected.ine2 == ""; else withImage2'>
                <p>Sin imagen</p>
            </ng-container>
            <ng-template #withImage2>
                <div>
                    <img (click)="zoomImagen('b')" src="{{ this.verificadoDataSelected.ine2 }}" style="width: 240px; height: 140px;" alt="">
                </div>
            </ng-template>
        </div>

        <div class="col-md-4">
            <br>
            <label>Domicilio</label>
            <ng-container *ngIf='this.verificadoDataSelected.domicilio == ""; else withImage3'>
                <p>Sin imagen</p>
            </ng-container>
            <ng-template #withImage3>
                <div>
                    <img (click)="zoomImagen('c')" src="{{ this.verificadoDataSelected.domicilio }}" style="width: 240px; height: 140px;" alt="">
                </div>
            </ng-template>
        </div>

        <div class="col-md-4">
            <br>
            <label>Fachada</label>
            <ng-container *ngIf='this.verificadoDataSelected.fachada == ""; else withImage4'>
                <p>Sin imagen</p>
            </ng-container>
            <ng-template #withImage4>
                <div>
                    <img (click)="zoomImagen('d')" src="{{ this.verificadoDataSelected.fachada }}" style="width: 240px; height: 140px;" alt="">
                </div>
            </ng-template>
        </div>

        <div class="col-md-4 ">
            <br>
            <label>Selfie</label>
            <ng-container *ngIf='this.verificadoDataSelected.selfie ==  ""; else withImage5'>
                <p>Sin imagen</p>
            </ng-container>
            <ng-template #withImage5>
                <div>
                    <img  (click)="zoomImagen('e')" src="{{ this.verificadoDataSelected.selfie }}" style="width: 240px; height: 140px;" alt="s">
                </div>
            </ng-template>
        </div>

        <!--[disabled]="#map.disabled "-->
        <div class="row ">
            <div class="form-group ">
                <div class="col-md-12">
                    <br>
                    <div class="user-block ">
                        <img src="../../../assets/img/maps.png">
                        <span class="username "><a>Ubicacion</a></span>
                        <br />
                        <div (click)="mapaurl()">
                            <div #map style="pointer-events:none; width:100%; height:250px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #modalFooterPanic>
        <button nz-button nzType="default" (click)="handleCancelPanic()">Cerrar</button>
    </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleZoomImg" [nzWidth]="950" [nzContent]="modalContentZoomImg" [nzFooter]="modalFooterZoomImg" (nzOnCancel)="handleCancelZoomImg()">
    <ng-template #modalContentZoomImg>
        <div>
            <img src="{{ this.zoom }}" style="width: 900px; height: 520px;" alt=""> 
        </div>
    </ng-template>

    <ng-template #modalFooterZoomImg>
    </ng-template>

</nz-modal>