<mk-tabs styleClass="sidebar-right-tabs-wrapper" navStyleClass="nav nav-tabs nav-justified control-sidebar-tabs">
  <mk-tab>
    <mk-tab-header>
      <i class="fa fa-wrench"></i>
    </mk-tab-header>
    <mk-tab-content>
      <div >

        <!--      Permisos        -->
                    


      <!-- <ng-template ngxPermissionsOnly="canAddRoles"> -->

        <mk-box [isSolid]="true" boxColor="#fff" headerStyleClass="box-header" [isCollapsable]="true" [isCollapsed]="true" [isRemovable]="false" header="Roles"> 
          <ng-container *ngIf="countRoles > 0; then thenroles; else elseroles;"></ng-container>
          <ng-template #thenroles>
              <ng-container *ngFor="let role of roles; let first = first; let last = last">
                  <ng-container *ngIf="first; then optionNull;">OptionNull</ng-container>
                    <ng-template #optionNull>
                      <label style="color: black" class="control-sidebar-subheading"><a class="btn-primary-outline-add pull-right" (click)="showModalAgregarRole()"><i class="fa fa-plus" aria-hidden="true"></i></a>Agregar</label>
                    </ng-template>
                    <label style="color: black" class="control-sidebar-subheading">
                      <a class="btn-primary-outline pull-right" (click)="showDeleteConfirmRole(role)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                      <a style="margin-right: 10px" class="btn-primary-outline-add-m pull-right" (click)="showModalAgregarModulo(role)">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </a>
                      <a style="margin-right: 10px" class="btn-primary-outline-edit pull-right" (click)="showModalMostrarPermisos(role)">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </a>{{role.nombre_role}}
                    </label>  
              </ng-container>
          </ng-template>
          <ng-template #elseroles>
            <label style="color: black" class="control-sidebar-subheading"><a class="btn-primary-outline-add pull-right" (click)="showModalAgregarCategoria()"><i class="fa fa-plus" aria-hidden="true"></i></a>Agregar</label>
          </ng-template>            
        </mk-box>
        


      
  <!--                                           Agregrar Role                                                 -->

  <nz-modal [(nzVisible)]="isVisibleAgregarRole" [nzWidth]="350" [nzTitle]="modalTitleAgregarRole" [nzContent]="modalContentAgregarRole" [nzFooter]="modalFooterAgregarRole" (nzOnCancel)="handleCancelAgregarRole()">
    <ng-template #modalTitleAgregarRole>Agregar Rol</ng-template>
    <ng-template #modalContentAgregarRole>
       
      <form [formGroup]="AgregarRoleForm">
        <label >Nombre de rol</label>
        <input type="text" nz-input formControlName="agregarRole" /> 
          <div *ngIf="submittedAgregarRole && arf.agregarRole.errors" class="invalid-feedback d-block">
            <div *ngIf="arf.agregarRole.errors.required" class="text-danger">Campo requerido</div>
          </div> 
      </form>

      <label style="margin-top:10px" for="">Modulos</label>
      <h6>Marque los modulos a asignar</h6>

      <nz-tree
        [nzData]="nodes"
        nzCheckable
        [nzCheckedKeys]="defaultCheckedKeys"
        (nzCheckBoxChange)="nzEvent($event)">
      </nz-tree>

    </ng-template>
    <ng-template #modalFooterAgregarRole>
        <button nz-button nzType="primary" (click)="onSubmitAgregarRole()" [nzLoading]="isConfirmLoadingAgregarRole">Agregar</button>
    </ng-template>
</nz-modal>



 <!--                                          Mostrar Permisos                                              -->

<nz-modal [(nzVisible)]="isVisibleMostrarPermisos" [nzWidth]="350" [nzTitle]="modalTitleMostrarPermisos" [nzContent]="modalContentMostrarPermisos" [nzFooter]="modalFooterMostrarPermisos" (nzOnCancel)="handleCancelMotrarPermisos()">
  <ng-template #modalTitleMostrarPermisos>Permisos de {{ roleDataSelected.nombre_role }}</ng-template>
  <ng-template #modalContentMostrarPermisos>

    <form [formGroup]="EditarRoleForm">
      <label for="">Nombre de rol</label>
      <input type="text" nz-input formControlName="editarRole" /> 
        <div *ngIf="submittedEditarRole && erf.editarRole.errors" class="invalid-feedback d-block">
          <div *ngIf="erf.editarRole.errors.required" class="text-danger">Campo requerido</div>
        </div>  
    </form>
  
    <label style="margin-top:10px" for="">Modulos</label>

    <ng-container *ngIf="nodes.length === 0; then sinAsignar; else nodesModulos"></ng-container>
   
    <ng-template #sinAsignar>
      <div>
        <label class="text-danger" for="">Sin asignar modulos</label>
      </div>
    </ng-template>

    <ng-template #nodesModulos>
      <nz-tree
        [nzData]="nodes"
        nzCheckable
        [nzCheckedKeys]="defaultCheckedKeys"
        (nzExpandChange)="nzEvent($event)"
        (nzCheckBoxChange)="nzEvent($event)">
      </nz-tree>
    </ng-template>

  </ng-template>
  <ng-template #modalFooterMostrarPermisos>
      <button nz-button nzType="primary" (click)="onSubmitMostrarPermisos()">Guardar cambios</button>
  </ng-template>
</nz-modal>


                        <!--         Agregar Modulos                  -->


<nz-modal [(nzVisible)]="isVisibleAgregarModulo" [nzWidth]="350" [nzTitle]="modalTitleAgregarModulo" [nzContent]="modalContentAgregarModulo" [nzFooter]="modalFooterAgregarModulo" (nzOnCancel)="handleCancelAgregarModulo()">
    <ng-template #modalTitleAgregarModulo>Modulos de {{ roleDataSelected.nombre_role }}</ng-template>
    <ng-template #modalContentAgregarModulo>
       
      <h6>Marque o desmarque modulos para {{ roleDataSelected.nombre_role }}</h6>

      <nz-tree
        [nzData]="nodes"
        nzCheckable
        nzContextMenu="nzEvent($event)" 
        [nzCheckedKeys]="defaultCheckedKeys"
        (nzExpandChange)="nzEvent($event)"
        (nzCheckBoxChange)="nzEvent($event)"
      >
        
      </nz-tree>
  
    </ng-template>
    <ng-template #modalFooterAgregarModulo>
        <button nz-button nzType="primary" (click)="onSubmitAgregarModulos()">Guardar cambios</button>
    </ng-template>
  </nz-modal>